{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "endOfLine": "auto",
  "quoteProps": "consistent"
}
