@font-face {
	font-family: 'Open Sans';
	src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(../assets/fonts/Roboto-Bold.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.profileStat {
		@apply bg-metropoliaMainOrange p-1.5 rounded text-white;
	}
	.react-calendar__tile--now {
		@apply bg-transparent;
	}
	.react-calendar__tile.highlight {
		@apply bg-metropoliaMainOrange;
	}
}
.hideScrollbar::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.hideScrollbar {
	scrollbar-width: none; /* for Firefox */
	-ms-overflow-style: none; /* for Internet Explorer and Edge */
}
