@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .profileStat {
        @apply bg-metropoliaMainOrange p-1.5 rounded text-white;
    }
    .react-calendar__tile--now  {
        @apply bg-transparent;
    }
    .react-calendar__tile.highlight {
        @apply bg-metropoliaMainOrange;
    }
   
    }
@keyframes marquee {
    0% { transform: translateX(40%); }
    100% { transform: translateX(-40%); }
}

.marquee {
    display: inline-block;
    animation: marquee 100s linear infinite;
}





